body{
	font-family: 'Quicksand', sans-serif;
	background: url(../img/bgimage.jpg) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.container-fluid{
	padding: 0;
}

.first-nav{
	background-color:rgba(0, 0, 0, 0.3);
}

.second-nav{
	padding-right: 10px;
	padding-left: 10px;
}

.btn{
	background-color: rgb(255,255,255,0.3);
}

.btn:hover{
	color: white;
	background-color: rgb(255,255,255,0.5);
}

.profile{
	width: 32px;
	height: 32px;
	margin: 5px;
	border-radius: 50%;
}

.logo{
	font-family: 'Pacifico', cursive;
	font-size: 25px;
}

.boardname{
	font-weight: bolder;
	font-size: 18px;
	color: white;
}

.team{
	font-size: 15px;
}

#wrapper {
  	width: 100%;
  	overflow: auto;
  	display: flex;
  	align-items: flex-start;
  	flex-wrap: nowrap;
  	&::-webkit-scrollbar {
    display: none;
  }

}

.list{
	border-radius: 3px;
	background-color: #EBECF0;
	width: 18rem;
	padding: 10px;
	margin-right: 6px;
	flex: 0 0 auto;
}

.list .btn{
	color: #606C85;
	background-color: rgb(255,255,255,0.0);
}

.list .btn:hover{
	background-color: rgb(0,0,0,0.1);
}

.btn-new-card{
	width: 100%;
}

.btn-new-list{
	flex: 0 0 auto;
	width: 18rem;
	color: white;
}

.card{
	padding: 8px;
	margin-bottom: 5px;
	box-shadow: 0 2px 2px -2px rgb(0,0,0,0.2);
}

.card:hover{
	background-color: #F4F5F7;
}

.card p{
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 14px;
	margin-bottom: -4px;
}

.card-label{
	width: 50px;
	height: 10px;
	border-radius: 5px;
	float: right;
}

.card-label-name{
	padding: 5px;
	border-radius: 5px;
	float: right;
	color: white;
}

.card-member{
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background-color: #C1C7D0;
	padding: 3px;
	font-size: 13px;
	font-weight: bold;
	float: left;
}

/* The container */
.cb-container {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 8px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.cb-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  border-radius: 2px;
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.cb-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.cb-container input:checked ~ .checkmark {
  background-color: #0079BF;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.cb-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.cb-container .checkmark:after {
  left: 5px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.btn-green{
	background-color: #519839;
	color: white;
}

.btn-green:hover{
	background-color: #61BD4F;
}
